{% extends '../base.twig' %}

{% block content %}
    <div>
        <h1>Vitajte!</h1>
        <p style="color:green">{{ message }}</p>
        <p>Pokračujte na stránku v hornom menu ☺</p>
    </div>
{% endblock %}